<resources>


    <controller val="ManageMessage" pageTitle="Manage Message" validationToken="false" auth="true">

        <route val="message-list" get="manageMessageList"/>
    </controller>

    <controller val="ManageProject" pageTitle="Manage Project" validationToken="false" auth="true">

        <route val="project-list/{sl}/info/json" post="manageProjectInfoJson"/>
        <route val="project-list/update" post="manageProjectUpdatePost"/>
        <route val="project-list/create" post="manageProjectCreatePost"/>
        <route val="project-list" get="manageProjectList"/>
    </controller>

    <controller val="ManageClient" pageTitle="Manage Client" validationToken="false" auth="true">

        <route val="client-list/{sl}/info/json" post="manageClientInfoJson"/>
        <route val="client-list/update" post="manageClientUpdatePost"/>
        <route val="client-list/create" post="manageClientCreatePost"/>
        <route val="client-list" get="manageClientList"/>
    </controller>

</resources>